* {
	padding:0;
	margin: 0;
}

body {
	text-align:center;
	background-color:#0000aa;
}

/* remove number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    width:4em;
}

input[type="text"] {
	width:7em;
}

input[type="text"].small {
	width:4em;
}

input[type="text"].medium {
	width:12em;
}

input[type="text"].large {
	width:17em;
}

.aleft {
	text-align:left;
}

.aright {
	text-align:right;
}

.hstretch {
	width:100%;
}

.spreadsheet {
	border-bottom: solid #c0c0c0 1px;
	border-right: solid #c0c0c0 1px;
	border-collapse:collapse;
	width:100%;
}

.spreadsheet td, .spreadsheet th {
	padding-left:10px;
	padding-right:11px;
	background-color:white;
	border-left: solid #c0c0c0 1px;
	border-top: solid #c0c0c0 1px;
	height:1em;
	width:auto;
	text-align:left;
}

.spreadsheet th {
	text-align:center;
}

.spreadsheet .amount,.spreadsheet .balance,.spreadsheet .id {
	text-align:right;
}

.section {
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	float:center;
	background-color: #bfbfbf;
	padding: 20px;
}

#transactions {
	float:left;
	width:60%;
}

#accounts {
	float:right;
	width:30%;
}

#account_descr {
	width:60%;
	height:5em;
}

#y {
	width: 30px;
}

#amount {
	width: 100px;
}

#main_container {
	width:auto;
	margin-left:50px;
	margin-right:50px;
	text-align:center;
}


