* {
	padding:0;
	margin: 0;
}

body {
	text-align:center;
}

/* remove number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* small number input field */
.snum {
	appearance:none;
	width: 15px;
}

.spreadsheet {
	border-bottom: solid grey 1px;
	border-right: solid grey 1px;
	border-collapse:collapse;
}

.spreadsheet td, .spreadsheet th {
	padding-left:10px;
	padding-right:11px;
	background-color:white;
	border-left: solid grey 1px;
	border-top: solid grey 1px;
	height:1em;
	width:auto;
	text-align:right;
}

.spreadsheet th {
	text-align:center;
}

#y {
	width: 30px;
}

#amount {
	width: 100px;
}

#main_container{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
